<div class='configurable-container'>

  <div class="header">
    <h2><%= t('configurable.admin_title', default: "Config") %></h2>
  </div>

  <div class="configurable-options">
    <%= form_tag(admin_configurable_path, :method => :put) do -%>
      <%- @keys.each do |key| -%>
        <%- options = Configurable.defaults[key] -%>
        <div class="configurable">
          <% if options[:i18n_key] %>
            <%= label_tag key, t(options[:i18n_key]) %>
          <% else %>
            <%= label_tag key, options[:name] %>
          <% end %>
          <%- if options[:type] == 'boolean' %>
            <%= hidden_field_tag key, "0" %>
            <%= check_box_tag key, "1", Configurable.send(key) %>
          <%- elsif options[:type] == 'password' -%>
            <%= password_field_tag key, Configurable.send(key) %>
          <%- elsif options[:type] == 'text' -%>
            <%= text_area_tag key, Configurable.send(key) %>
          <%- elsif options[:type] == 'list' -%>
            <%= text_area_tag key, Configurable.serialized_value(key) -%>
          <%- else -%>
            <%= text_field_tag key, Configurable.send(key) %>
          <%- end -%>
        </div>
      <%- end -%>

      <%= submit_tag t('configurable.submit_button', default: 'Save') %>
    <%- end -%>
  </div>
</div>
